@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.input-fields {
    padding: 10px 20px 10px 10px;
    margin-left: 20px;
    display: block;
}

.participation {
    display: block;
}

.party-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.fields-wrapper {
    display: inline-block;
    margin-left: 10px;
}

.participation-wrapper {
    margin: 0 0 10px 10px;
}

.participation-quantity-wrapper {
    margin: 20px 0 10px 30px;

}

.number-wrapper {
    margin: 20px 10px 10px 10px;
}

.choose-food-wrapper {
    margin: 20px 10px 10px 10px;
}

.dropdown-container {
    margin-left: 10px;
    padding: 10px 80px 10px 10px;
}

.main-container {
    border: 1px solid #fff;
    padding: 30px;
}

.input-labels {
    display: inline-block;
    margin-left: 20px;
}

.info-wrapper {
    margin-top: 10px;
}

.fields-container {
    margin-left: -20px;
}

.submit-btn, .login-btn {
    margin-top: 20px;
    padding: 10px 50px;
    margin-left: auto;
    margin-right: auto;
}

.submit-login-btn {
    margin-top: 20px;
    padding: 10px 79px;
    margin-left: 20px;
}


.button-wrapper {
    display: flex;
}

.password-wrapper {
    margin: 35px 0 20px 120px;
}

.error-message {
    color:red;
    margin: 0 0 0 90px;
}