.login-input-fields {
    padding: 10px 20px 10px 10px;
    margin: 0 0 20px 20px;
    display: block;
}

.registered-form-data {
    margin-bottom:50px;
}

.error-message {
    color:red;
    margin-left:60px;
}